@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.flex_all_center {
    display: flex;
    justify-content: center;
    align-items: center;
}